.greeting-container {
  background-color: #46166b;
  border-radius: 10px;
  color: white;
  margin: 20px 20px;
  padding: 60px 60px;
  height: max-content;
}

.studentMainContainer {
  padding: 50px;
  background: linear-gradient(45deg, #ffc107, #673ab7);
  height: 100vh;
}

main{
  background: linear-gradient(45deg, #ffc107, #673ab7);
  padding: 10px;
  margin: 70px;
}

.hellomessage,
.welcomemessage {
  font-size: 1.3em;
}

.head-container {
  font-size: 2em;
  font-family: poppins;
  padding: 20px 20px;
  padding-top: 90px;

}

.cards-container {
  position: relative;
  top: -60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: lavender;
  width: 300px;
  margin: 0 10px;
  text-align: center;
  border: 1px solid #000;
  height: 120px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card img {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

h3.number {
  margin-top: 0;
  padding-top: 20px;
  font-size: 1.7em;
  color: #000;
  font-weight: bold;
}

h3.title {
  margin-top: 0;
  font-size: 1.4em;
  color: #000;
  justify-content: center;
  align-items: center;

}

.content {
  padding-top: 0;
}

.courses-container {
  display: flex;
  border-radius: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  flex-direction: column;
  padding: 10px 20px;
  border: 1px solid #000;
}

.schedule-container {
  display: flex;
  border-radius: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  flex-direction: column;
  border: 1px solid #000;
  padding: 10px 20px;
}

.course-info {
  display: flex;
  border-radius: 10px;
  background-color: #E6E6FA;
  box-shadow: #46166b;
  flex-direction: column;
  padding: 10px 20px;
  border: 1px solid #000;
}

.my-courses-title,
.my-schedule-title,
.available-courses-title {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: poppins;
}

.available-courses {
  display: flex;
  border-radius: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  flex-direction: column;
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid #000;
}

.search-courses {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.search-course-input {
  margin-right: 10px;
  margin-top: 0;
  padding: 5px;
  width: 150px;
  height: 50px;
  /* Adjust the width to your preference */
}


.courses-table {
  width: 100%; /* Makes the table take full width */
  margin-top: 20px; /* Adds space above the table */
}

.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.progress-bar {
  height: 10px;
  background-color: #d6d6d6;
  border-radius: 5px;
  padding: 1px 80px;
}

.progress-percent {
  padding-left: 30px;
}

table {
  padding: 10px;
  width: 100%;
  border-collapse: collapse;
  align-items: center;
  margin: 8px;
}



th {
  background-color: #46166b;
  color: white;
  padding: 20px;
  text-align: left;
  margin-left: 200px;
  text-align: left;
  font-size: 1.3em;
}

td {
  margin: 20px;
  text-align: left;
  padding: 10px;
  font-size: 1.2em;
  border-left: 1px solid #ccc; /* Adds a border to the left side of each cell */
  border-right: 1px solid #ccc; /* Adds a border to the right side of each cell */
}
tr:nth-child(even) {
  background-color: #fff;
  color: black;
  font-size: 1.1em;
}

tr:nth-child(even) .badge,
tr:nth-child(even) .badge i {
  background-color: #E6E6FA; /* Or any other color you want for badges background */
  color: black; /* Or any other color you want for badges text and icons */
}

tr:nth-child(odd) {

  background-color: #E6E6FA;
  color: black;
  font-size: 1.1em;
}

tr:nth-child(odd) .badge,
tr:nth-child(odd) .badge i {
  background-color: #fff; /* Or any other color you want for badges background */
  color: black; /* Or any other color you want for badges text and icons */
}

.course-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-column,
.right-column {
  flex: 1;
}

.right-column {
  margin-left: 20px;
}

.full-width {
  clear: both;
}

.btn-close {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-close:hover {
  background-color: #0056b3;
}

/* Add responsiveness */
@media (max-width: 768px) {
  .course-details {
    flex-direction: column;
  }

  .right-column {
    margin-left: 0;
    margin-top: 20px;
  }
}

button {
  border-radius: 20px;
  border: 1px solid #46166b;
  background-color: #46166b;
  color: #d6d6d6;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px;
  transition: transform 80ms ease-in;
}

button:active {
  background-color: #DDDDDD;
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FBFADA;
}

button.clicked {
  background-color: #eeb211;
}

button:hover {
  background-color: #eeb211;
  /* Change the hover background color */
}

.no-bullets {
  list-style-type: none;
  /* Removes the bullet points */
  padding: 0;
  /* Removes padding, optional */
  margin: 0;
  /* Removes margin, optional */
}

th {
  font-size: 1.4em;
}

td {
  font-size: 1.3em;
}
.fa {
  transition: transform 0.3s ease;
}

.fa-chevron-up {
  transform: rotate(180deg);
}
