.greeting-container{
  background-color: #12372A;
  border-radius: 10px;
  color: white;
  padding: 60px 60px;
  margin: 20px 20px;
  height: max-content;
}

.head-container{
  font-size: 2em;
  font-family: poppins;
  padding : 20px 20px;

}

.cards-container {
  position: relative;
  top: -60px; 
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
}
.card {
  background-color: #fff;
  width: 300px;
  margin: 0 10px;
  text-align: center;
  height: 120px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card img{
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  width: 80px;
  height :80px;
  border-radius: 50%;
  object-fit: cover; 
}
h3.number {
  margin-top: 0;
  font-size: 1.5em;
  color: #000;
  font-weight: bold;
}

h3.title {
  margin-top: 0;
  font-size: 1.1em;
  color: #000;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}
.content{
  padding-top: 0;
}
.courses-container {
  display: flex;
  border-radius: 10px;
  background-color: #ADBC9F;
  box-shadow: #000;
  flex-direction: column;
  padding: 10px 20px;
}
.schedule-container {
  display: flex;
  border-radius: 10px;
  background-color: #ADBC9F;
  box-shadow: #000;
  flex-direction: column;
  padding: 10px 20px;
}

.my-courses-title,.my-schedule-title {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: poppins;
}
.search-courses {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end; /* Aligns the search input and button to the right */
}

.search-course-input {
  margin-right: 10px;
  margin-top: 0; /* Adds space between the input and button */
}

.courses-table {
  width: 100%; /* Makes the table take full width */
  margin-top: 20px; /* Adds space above the table */
}

.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.progress-bar {
  height: 10px;
  background-color: #4caf50;
  border-radius: 5px;
  padding: 1px 80px;
}

.progress-percent{
  padding-left: 30px;
}