<div class="form-container">
    <h2> Forgot Password</h2>
    <h4>In order to change your password, we need to verify your identity. Enter the email address associated with Learn Tracker</h4>
    <form (submit)="sendResetPasswordLink(email)" class="reset-form">
      <div class="form-group">
        <input type="email" [(ngModel)]="email" name="email" required placeholder="Enter your email" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Send Reset Link</button>
     <div *ngIf="sucess" style="color: green;">
       <p>Reset Password mail is sent sucessfully</p>
     </div>
     <div *ngIf="failure" style="color: red;">
      <p>User not found</p>
    </div>
    </form>
  </div>
  