
button {
    border-radius: 20px;
    border: 1px solid #d6d6d6;
    background-color: #46166b;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px;
    transition: transform 80ms ease-in;
}

button:active {
    background-color: #eeb211;
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #eeb211;
}

button.clicked {
    background-color: #eeb211; 
}

button:hover {
    background-color: #eeb211; /* Change the hover background color */
}
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* Ensures spacing between the input field and the button */
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
 