.journal-page-container {
 margin-top:100px;

}
html, body{
    padding: 10px;
}

  .journal-container {
    display: flex;
    justify-content: space-between; /* Spreads out the calendar and textarea */
    align-items: start; /* Aligns items at the top */
}

 a.journal-page-container {
    margin-top: 100px;
}

html, body {
    padding: 10px;
}

.journal-container {
    display: flex;
    justify-content: space-between; /* Ensures space distribution between columns */
    align-items: flex-start; /* Aligns items at the top */
    gap: 20px; /* Adds space between the calendar and content container */
}

.calendar-container {
    flex: 1;
    border: 2px solid #000;
    padding: 30px;
    margin: auto; /* Adjust for centering if necessary, or remove to align left */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    background-color: #fff; /* Change background color */
}

.content-container {
    flex: 2; /* Allows the content container to take more space than the calendar */
    padding: 20px;
    background-color: #f9f9f9; /* Lighter background for the content area */
    border: 2px solid #000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Consistent with calendar container */
}
.calendar-container {
    border: 2px solid #000;
    padding: 30px;
    width: 40%; /* Adjusted to better fit the container */
    margin: auto; /* Center the calendar horizontally */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    background-color: #fff; /* Change background color */
}

.date-container {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.date-date {
    font-size: 3.7em; 
    font-weight: bold;
    margin-right: 10px;
}

.date-info {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
}
h2, h3 {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 15px;
}
.selected-date {
    background-color: blue !important;
  }
  
button {
    border-radius: 20px;
    border: 1px solid #46166b;
    background-color: #46166b;
    color: #d6d6d6;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px;
    transition: transform 80ms ease-in;
  }
  
  button:active {
    background-color: #DDDDDD;
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    background-color: transparent;
    border-color: #FBFADA;
  }
  
  button.clicked {
    background-color: #eeb211;
  }
  
  button:hover {
    background-color: #eeb211;
    /* Change the hover background color */
  }