.studentList {
    display: flex;
    flex-direction: column;
    /* To stack the items vertically */
    align-items: center;
    /* Align items along the cross axis */
    text-align: center;
    /* Align text content center horizontally */
}
table {
    width: 70%;
    border-collapse: collapse;
    align-items: center;
}

html,
body {
    min-height: 100vh;
    /* 100% of the viewport height */
    margin: 0;
    padding: 0;
    background-image: url('/assets/img/6065672.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

th {
    background-color: #46166b;
    color: white;
    padding: 20px;
    text-align: center;
    margin-left: 200px;
    font-size: 1.1em;
}

td {
    margin-left: 200px;
    font-size: 1.1em;
    padding: 20px;

}

tr:nth-child(even) {
    background-color: #ccc;
    color: black;
}

tr:nth-child(even) .badge,
tr:nth-child(even) .badge i {
    background-color: #ccc;
    /* Or any other color you want for badges background */
    color: black;
    /* Or any other color you want for badges text and icons */
}

tr:nth-child(odd) {
    color: black;
}

tr:nth-child(odd) .badge,
tr:nth-child(odd) .badge i {
    background-color: transparent;
    /* Or any other color you want for badges background */
    color: white;
    /* Or any other color you want for badges text and icons */
}



.player-number {
    width: 10%;
    padding-left: 20px;
}


.player-name {
    width: 40%;
}




/* Style for the dropdowns */
select {
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;

}

/* Style for the button */
button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #eeb211;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for the button */
button:hover {
    background-color: #eeb211;
}

.filters {
    margin: 20px;
}

h5 {
    margin: 20px;
    font-size: 1.9em;
    letter-spacing: 0.1em;
    font-family: poppins;
    font-weight: bolder;
    color: white;
}
.filters{
    padding-bottom: 10px;
}