
.mainContainer{
  padding-top: 100px;
}



/* Base button styles */
.button {
  position: relative;
  z-index: 2;
  flex: 1;
  padding: 10px 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions for background and text color changes */
  background-color: transparent; /* Start with no background color */
  outline: none;
}

.button:hover, .button:focus {

  color: #fff; /* Hover and focus text color change */
}

.bg-courses { background-color: #c4e7f7; }
.bg-assignments { background-color: #E6E6FA; }
.bg-exams { background-color: #FADADD; }
.bg-announcements { background-color: #FFDAB9; }

.active {
  color: white; /* Text color for active state */
  background-color: #46166b; /* Background color for active state */
}

/* Button container styling */
.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 2px;
  margin: 20px;
  width: 1000px; /* Consider using max-width for better responsiveness */
}

.slider-background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;  /* Matching button border radius */
}

.slider {
  position: absolute;
  height: 100%;
  width: 25%; /* As there are four buttons */
  background-color: rgba(0, 0, 0, 0.1); /* Lightly visible to highlight active button */
  transition: left 0.3s ease-out;
}



input[type="file"] {
  opacity: 1 !important;
  z-index: 1000 !important;
  width: 200px !important; /* Temporarily set a width */
  height: 50px !important; /* Temporarily set a height */
}

.course-container,
.assignment-container,
.annocuments-container,
.exam-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Styles for each form field */
.form-field {
  width: 100%;
  margin-bottom: 15px;
}

/* Input fields including text, date, and number types */
input[type="text"],
input[type="date"],
input[type="number"] {
  width: calc(100% - 20px);
  /* Adjust width as needed */
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles for buttons */
input[type="submit"],
button {
  padding: 10px;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

/* Hover effect for buttons */
.submitButton {
  background-color: #46166b;
  padding: 10px;
  justify-content: center;
}

.buttonrow {
  width: 200px;
}

.buttonrowsubmit {
  width: 200px;
  padding-top: 20px;
}

/* Additional styling for the schedule section */
.schedule-section {
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.scheduleButton {
  background-color: #46166b;
  /* A green color */
  color: white;
}
.remove-schedule-btn {
  background-color: #f44336;
  /* A red color */
  color: white;
  margin-top: 10px;
}

/* Responsive design adjustments */
@media (max-width: 992px) {
  .form-container {
    width: 95%;
    max-width: none;
  }
}

/* Inside your component.css */
.status-container {
  padding: 30px;
  margin: 10px 0;
  border: 1px solid #ccc;
  /* Optional, just to show the box if there's no message */
}

.success {
  background-color: lightgreen;
}

.form-group {
  padding: 6px;
}

label {
  padding:2px;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}


h2{

  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: poppins;
}