.container{
    padding-top: 50px;
}

tr:nth-of-type(odd) {
    background-color: #eee;
  }
  
 tr:nth-of-type(even) {
    background-color: #fff;
  }

  img{
      width : 40px;
      height : 40px
  }

  th{
      font-size: 20px;
      padding: 20px;
      font-family: poppins;
  }

  td{
      padding: 20px;
  }

   blockquote {
    font-size: 0.9rem;
  }

  .super{
      font-size: 1.3em;
      font-family: poppins;
      border: 1px solid #eee;
      padding: 50px;
      margin: 100px;
  }

  .super img{
      width: 200px;
      height: 200px;
  }
  