<div *ngIf="isLoggedIn">
    <div class="navbar-container student" *ngIf="student">
        <div class="brand">
            <img class="ard-img-sm-left profilelogo" src="/assets/img/brand.png" alt="Brand Logo">
        </div>
        <div class="nav-items">
            <div class="nav-item">
                <a href="courses">Home</a>
            </div>
            <div class="nav-item">
                <a href="studentcourses">Student Courses</a>
            </div>
            <!-- <div class="nav-item">
                <a href="tasks">Tasks</a>
            </div> -->
            <div class="nav-item">
                <a href="notebook">Notebook</a>
            </div>
            <div class="nav-item">
                <a href="yourfriends">My Friends</a>
            </div>
            <div class="nav-item">
                <a href="leaderboard">Leaderboard</a>
            </div>
            <div class="nav-item">
                <a href="askteacher">Ask a Question</a>
            </div>
            <div class="nav-item">
                <a href="badgesinfo">Badges info</a>
            </div>
            <div class="nav-item">
                <a href="myjournal">My Journal</a>
            </div>
            <div class="nav-item">
                <a href="notifications"><i class="fa fa-bell"></i></a>
            </div>
            <div class="profile-dropdown">
                <div class="profile-icon">
                    <div class="profile-picture">
                        <!-- Display the user's profile picture if the user object is defined and has a profilePicture -->
                        <img *ngIf="user?.profilePicture" [src]="'data:image/jpeg;base64,' + user.profilePicture" alt="Profile Picture">
                        <i *ngIf="!user || user?.profilePicture == undefined ||  user?.profilePicture == null || user?.profilePicture == ''"  class="fa-solid fa-user" style="color: white;"></i>

                    </div>
                    
                </div>
                <div class="dropdown-content">
                    <ul>
                        <li><a href="profile">Profile</a></li>
                        <li><a href="settings">Settings</a></li>
                        <li><a role="button" (click)="logout()">Logout</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-container Professor" *ngIf="!student">
        <div class="brand">
            <img class="ard-img-sm-left profilelogo" src="/assets/img/brand.png" alt="Brand Logo">
        </div>
        <div class="nav-items">
            <div class="nav-item">
                <a href="professorHome">Home</a>
            </div>
            <div class="nav-item">
                <a href="addaCourse">Add New Course</a>
            </div>
            <div class="nav-item">
                <a href="studentList">Student List</a>
            </div>
            <div class="nav-item">
                <a href="professortasks">Assignments</a>
            </div>
            <div class="nav-item">
                <a href="studentQuestions">Student Queries</a>
            </div>

            <div class="profile-dropdown">
                <div class="profile-icon">
                    <div class="profile-picture">
                        <!-- Display the user's profile picture if the user object is defined and has a profilePicture -->
                        <img *ngIf="user?.profilePicture" [src]="'data:image/jpeg;base64,' + user.profilePicture" alt="Profile Picture">
                    
                        <i *ngIf="!user || !user?.profilePicture || user?.profilePicture == ''"  class="fa-solid fa-user" style="color: white;"></i>

                    </div>
                </div>
                <div class="dropdown-content">
                    <ul>
                        <li><a href="profile">Profile</a></li>
                        <li><a href="settings">Settings</a></li>
                        <li><a role="button" (click)="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isLoggedIn">
    <div class="navbar-container">
        <div class="brand">
            <img class="ard-img-sm-left profilelogo" src="/assets/img/logo-png.png" alt="Brand Logo">
        </div>
        <div class="nav-items">
            <div class="nav-item">
                <button class="btn btn-primary gtstartedwithus" (click)="navigatetologin()">Get Started with
                    us!</button>
            </div>
        </div>
    </div>
</div>