@import url('https://fonts.googleapis.com/css2?family=Palatino:wght@400;700&display=swap');
.intro {
    background-image: url('/assets/img/introsection.jpg');
    background-size: cover;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px; /* Adjust the padding as needed */
    display: flex;
    align-items: center; /* This will vertically center the h1 inside the section */
    justify-content: flex-start;
}
  


.intro .text{
    padding-left: 900px;
    padding-bottom: 200px;

  }
  
  .intro h1 {
    font-family: 'Palatino', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-weight: bold;
    font-style: italic;
    color: black; /* or any color you prefer */
    width: 100%; /* Make h1 take full width */
    margin: 0; /* Remove default margin */
    font-size: 5em;
    padding-bottom: 30px;
  }
  
  .feature-section {
      height: auto;
      padding-top: 50px; /* Increase padding-top to increase section height */
      padding-bottom: 100px; 
    background-color: #f5fcec; /* Replace with your color */
    padding-top: 0px; /* Adjust based on the amount of overlap you want */
  }
  
  .cards-container {
    position: relative;
    top: -60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    perspective: 1000px;
    background-color: #f4f4f4;
    width: 300px;
    margin: 0 10px;
    text-align: center;
    height: 300px;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: var(--hover-color, #eeb211); /* Fallback color if hover-color is not set */
}

.card img {
    display: block;
    margin: 50px auto 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.card h3 {
    margin-top: auto;
    color: #000;
    padding-bottom: 40px;
    font-family: 'PublicSans', sans-serif;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-transform: uppercase;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-back {
    color: #333;
    transform: rotateY(180deg);
    font-size: 1.7em;
    font-family: poppins;
    padding: 15px;
}

.flipped .card-inner {
    transform: rotateY(180deg);
}


  .description-container {
    text-align: center; /* Center the paragraph */
    padding: 0 300px; /* Add padding to the left and right */
}

.description-container p {
  font-family: 'PublicSans', sans-serif;
  font-size: 1.1em;
    letter-spacing: 0.05em;
    margin: 0; /* Remove default margin */
}