<div class="container">
    <img class="ard-img-sm-left profilelogo" src="/assets/img/logo-png.png" alt="Brand Logo">
    <h2>Password reset</h2>
    <h4>        Almost done!
      Please change your password to something you haven’t used before.</h4>
    <form #form="ngForm" (ngSubmit)="submit()" class="reset-form">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword" id="newPassword" required class="form-control">
        <i [class]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="showNewPassword = !showNewPassword" class="password-icon"></i>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword" required class="form-control">
        <i [class]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="showConfirmPassword = !showConfirmPassword" class="password-icon"></i>
  
        <!-- Password mismatch error -->
        <div *ngIf="newPassword && confirmPassword && newPassword !== confirmPassword" class="error">
          Passwords do not match.
        </div>
      </div>
      <button type="submit" [disabled]="form.invalid || newPassword !== confirmPassword" class="btn">Reset Password</button>
      <div *ngIf="success" style="color: green;">
        <p>Password rest successfully/p>
      </div>
    </form>
  </div>
  