.professorHomeContainer{
  padding-top: 90px;
  background-color: #E6E6FA;
  height: 100vh;
}
main{
  background-color: #fff;
  padding: 40px;
  margin: 30px;
}
.head-container{
  font-size: 2em;
  font-family: poppins;
  padding : 20px 35px;
  font-weight: bold;

}

.greeting-container{
  background-color: #46166b;
  border-radius: 10px;
  color: white;
  padding: 65px 65px;
  margin: 20px 20px;
  height: max-content;
}

.cards-container {
  position: relative;
  top: -60px; 
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
}

.card {
  width: 300px;
  margin: 0px 10px;
  text-align: center;
  height: 120px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  cursor: pointer; /* Indicates the card is interactive */
}


.card img {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}


h3.number {
  margin-top: 0;
  font-size: 1.6em;
  color: #000;
  font-weight: bold;
}

h3.title {
  margin-top: 0;
  font-size: 1.3em;
  color: #000;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}


.content{
  padding-top: 0;
}
.courses-container {
  display: flex;
  border-radius: 10px;
  box-shadow: #000;
  flex-direction: column;
  padding: 10px 20px;
}
.schedule-container {
  display: flex;
  border-radius: 10px;
  box-shadow: #000;
  flex-direction: column;
  padding: 10px 20px;
}

.my-courses-title,.my-schedule-title {
  margin: 0;
  padding: 0;
  font-size: 2.1em;
  font-family: poppins;
}
.my-schedule-title{
  padding-bottom: 20px;
}
.search-courses {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end; /* Aligns the search input and button to the right */
}

.search-course-input {
  margin-right: 10px;
  margin-top: 0; /* Adds space between the input and button */
}

.courses-table {
  width: 100%; /* Makes the table take full width */
  margin-top: 20px; /* Adds space above the table */
}

.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.progress-bar {
  height: 10px;
  background-color: #4caf50;
  border-radius: 5px;
  padding: 1px 80px;
}

.progress-percent{
  padding-left: 30px;
}
.no-bullets {
  list-style-type: none; /* Removes the bullet points */
  padding: 0; /* Removes padding, optional */
  margin: 0; /* Removes margin, optional */
}

table {
  padding: 10px;
  width: 100%;
  border-collapse: collapse;
  align-items: center;
  margin: 8px;
}

h2{
  font-size: 1.7em;
}
p{
  font-size: 1.5em;
}
th {
  background-color: #46166b;
  color: white;
  padding: 20px;
  text-align: left;
  margin-left: 200px;
  text-align: left;
  font-size: 1.3em;
}

td {
  margin: 20px;
  text-align: left;
  padding: 10px;
  font-size: 1.2em;
  border-left: 1px solid #ccc; /* Adds a border to the left side of each cell */
  border-right: 1px solid #ccc; /* Adds a border to the right side of each cell */
}
tr:nth-child(even) {
  background-color: #fff;
  color: black;
  font-size: 1.1em;
}

tr:nth-child(even) .badge,
tr:nth-child(even) .badge i {
  background-color: #E6E6FA; /* Or any other color you want for badges background */
  color: black; /* Or any other color you want for badges text and icons */
}

tr:nth-child(odd) {

  background-color: #E6E6FA;
  color: black;
  font-size: 1.1em;
}

tr:nth-child(odd) .badge,
tr:nth-child(odd) .badge i {
  background-color: #fff; /* Or any other color you want for badges background */
  color: black; /* Or any other color you want for badges text and icons */
}

